/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  padding: 0;
  margin: 0;
 }
 section {
  display: flex;
  flex-direction: column;
 }

 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .post_line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
 }

 .actions {
  margin: 0 5px;
 }
 .divider {
  height: 1px;
  min-width: 200px;
  margin: 5px;
  padding: 0;
 }
 a {
  text-decoration: none;
 }
 .btn {
  background-color: rgb(219, 219, 219);
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
 }
 .btn:hover {
  color: white;
 }
 .btn-link:hover {
  background-color: rgb(47, 0, 255);
 }
 .btn-persist:hover {
  background-color: rgb(0, 162, 255);
 }
 .btn-edit:hover {
  background-color: rgb(255, 153, 0);
 }
 .btn-delete:hover {
  background-color: rgb(255, 0, 0);e;
 }
 .hidden {
  display: none;
 }
 .navbar {
  display: flex;
  width: 100%;
  background-color: rgb(210, 210, 210);
  justify-content: space-between;
 }
 .navbar_group {
  width: 33%;
  padding: 0;
  /* background-color: rgb(166, 255, 0); */
  display: flex;
  margin: 0 10px;
 }
 .navbar_first_group {
  justify-content: start;
 }
 .navbar_last_group {
  justify-content: end;
 }
 .navbar_title {
  background-color: rgb(210, 210, 210);
  padding: 5px;
  margin-right: 15px;
  font-size: 18px;
  transition: 0.4s;
  font-weight: 600;
 }
 .navbar-text {
  color: black;
 }
 .navbar_link {
  background-color: rgb(210, 210, 210);
  padding: 5px;
  margin: 0;
  font-size: 18px;
  transition: 0.4s;
 }
 .navbar_link:hover {
  color: white;
  background-color: rgb(156, 156, 156);
 }
 .navbar_selected {
  color: white;
  background-color: rgb(156, 156, 156);
 }