.message {
  font-weight: 600;
  background-color: #3331;
  padding: 5px 10px;
  border-radius: 15px;
}
.success {
  color: rgb(0, 145, 15);
}
.fail {
  color: red;
}
.notice {
  color: rgb(0, 78, 174);
}
